<!-- Create a link for each word -->
<ul class="nav nav-pills nav-stacked">
  <% @words.each() do |word| %>
    <li>
      <a href="/words/<%= word.id() %>">
        <%= word.name() %>
      </a>
    </li>
  <% end %>
</ul>

<a href="/words/new"><button type="button" class="btn btn-default">+</button></a>
