<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mos Definitions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          Mos Definition

        <a id="homeButton" class="pull-right" href="/">
          <span class="glyphicon glyphicon-home" aria-hidden="true">
        </a>
      </div>

      <%= yield %>

    </div>
  </body>
</html>
