<div class="panel panel-default">
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt> <%= @word.name() %> </dt>
    </dl>
  </div>

  <% unless @message.nil? %>
    <div class="panel-footer"> <%= @message %> </div>
  <% end %>
</div>
