<div class="panel panel-default">
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt> <%= @word.name() %> </dt>

      <!-- Show each definition of the word -->
      <% @definitions.each() do |definition|  %>
        <dd> <%= definition.text() %> </dd>
      <% end %>
    </dl>
  </div>

  <% unless @message.nil? %>
    <div class="panel-footer"> <%= @message %> </div>
  <% end %>
</div>
