<div class="panel panel-default">
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt> <%= @word.name() %> </dt>

      <!-- Show each definition of the word -->
      <% @definitions.each() do |definition|  %>
        <dd> <%= definition.text() %> </dd>
      <% end %>
    </dl>
  </div>

  <% unless @message.nil? %>
    <div class="panel-footer"> <%= @message %> </div>
  <% end %>
</div>

<a href="/">
  <button class="btn btn-default" type="button">Go to Word List</button>
</a>

<form class="btn-group" action="/words/<%= @word.id() %>/change" method="post">
  <button type="submit" class="btn btn-default" name="option" value="add definition">
    Add Definition
  </button>
  <button type="submit" class="btn btn-default" name="option" value="remove word">
    Remove Word
  </button>
</form>
