<div class="panel panel-default">
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt> <%= @word %> </dt>
    </dl>
  </div>

  <% if @message.length() > 0 %>
    <div class="panel-footer"> <%= @message %> </div>
  <% end %>
</div>
